<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Contact book Management System</title>

    <link rel="stylesheet" href="../static/css/landingcss.css" />

  </head>

  <body>

    <main>

      <div class="big-wrapper light">
        <img src="../static/img/shape.png" alt="" class="shape" />

        <header>
          <div class="container">
            <div class="logo">
              <img src="../static/img/logo.png" alt="Logo" />
              <h3>CBS</h3>
            </div>

            <div class="links">
              <ul>
                 <li><a href="{{url_for('signUp')}}" class="btn" >Sign up</a></li>
              </ul>
            </div>

            <div class="overlay"></div>

            <div class="hamburger-menu">
              <div class="bar"></div>
            </div>
          </div>
        </header>

        <div class="showcase-area">
          <div class="container">
            <div class="left">
              <div class="big-title">
                <h1>Future is here,</h1>
                <h1>Start Exploring now.</h1>
              </div>
              <p class="text">
                Sign up now to enjoy our Contact Managenemt System Today
              </p>
              <div class="cta">
              </div>
            </div>

            <div class="right">
              <img src="../static/img/business.svg" alt="Person Image" class="person" />
            </div>
          </div>
        </div>

        <div class="bottom-area">
          <div class="container">
            <button class="toggle-btn">
              <i class="far fa-moon"></i>
              <i class="far fa-sun"></i>
            </button>
          </div>
        </div>
      </div>
    </main>

    <!-- JavaScript Files -->

    <script src="https://kit.fontawesome.com/a81368914c.js"></script>
    <script src="../static/js/landing.js"></script>
  </body>
</html>
