<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/styleloader.css">
    <title>Loader</title>
</head>
<body>
    <div class="loader">
        <span class="load" id="ele-1"></span>
        <span class="load" id="ele-2"></span>
        <span class="load" id="ele-3"></span>
        <span class="load" id="ele-4"></span>
        <span class="load" id="ele-5"></span>
        <span class="load" id="ele-6"></span>
    </div>
</body>
</html>