<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://kit.fontawesome.com/64d58efce2.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="../static/css/signin.css" />
    <title>Sign in Form</title>
  </head>
  <body>
    <div class="container"> 
        <div class="forms-container"> 
            <div class="signin-signin">
                <form method ="POST" action="" class="sign-in-form">
                    <h2 class="title">Sign In</h2>
                    <div class="input-field">
                        <i class="fas fa-user"></i>
                        <input type="text" placeholder="Username" name="username">
                    </div>
                    <div class="input-field">
                        <i class="fas fa-lock"></i>
                        <input type="password" placeholder="Password" name="password">
                    </div>
                    <input type="submit" value="Login" class="btn solid" />
                </form>
            </div>
        </div>


        <div class="panel-container">
          <div class="panel left-panel">
            <div class="content">
              <h3>New here ?</h3>
              <p>
                Sign up today and enjoy our fantastic Contact book management system
              </p>
             <a href="{{url_for('signUp')}}">
              <button class="btn transparent" id="sign-up-btn">
                Sign up
              </button>
            </a>
            </div>
            <img src="../static/img/waiting.svg" class="image" alt="" />
        </div>
       
  </body>
</html>
