<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="Practice.css" />
    <script
      src="https://kit.fontawesome.com/188eb5eaaf.js"
      crossorigin="anonymous"
    ></script>
    <title>Document</title>
  </head>
  <body>
    <h2>1st Modal</h2>

    <!-- Trigger/Open The Modal -->
    <button class="modal_btn" href="#myModal1">Open Modal</button>

    <!-- The Modal -->

    <h2>2nd Modal</h2>

    <!-- Trigger/Open The Modal -->
    <button class="modal_btn" href="#myModal2">Open Modal</button>
    <h2>3rdd Modal</h2>

    <!-- Trigger/Open The Modal -->
    <button class="modal_btn" href="#myModal3">Open Modal</button>
    <h2>4th Modal</h2>

    <!-- Trigger/Open The Modal -->
    <button class="modal_btn" href="#myModal4">Open Modal</button>

    <!-- The Modal -->
    <div id="myModal1" class="modal">
      <!-- Modal content -->
      <div class="modal_content">
        <div class="modal_header">
          <span class="close">×</span>
          <h1>My Profile</h1>
        </div>
        <div class="imgDiv">
          <div id="add_new_contact" class="imgBox">
            <!-- <div id="imgBox"> -->
            <label id="upload_icon" for="profile_pic"
              ><i class="fa-solid fa-cloud-arrow-up"></i
            ></label>

            <input
              type="file"
              accept="image/*"
              name="image"
              id="profile_pic"
              style="display: none"
              onchange="loadNewFile(event)"
            />
          </div>
        </div>
        <div class="upload_picture">
          <label id="upload_picture" for="profile_pic"
            ><i class="fa-solid fa-cloud-arrow-up"></i>
            <pre></pre>
            Upload Profile Picture</label
          >
        </div>
        <div>
          <form>
            <table>
              <tr>
                <td class="text">Personnel Details</td>
              </tr>
              <tr>
                <td class="space">
                  <label for="fname">First Name</label>
                </td>
                <td class="space">
                  <label for="lname">Last Name</label>
                </td>
              </tr>
              <tr>
                <td>
                  <input
                    type="text"
                    id="fullname"
                    name="fullname"
                    placeholder="Full Name"
                    size="20"
                    autocomplete="cc-given-name"
                  />
                </td>
                <td>
                  <input
                    type="text"
                    id="lname"
                    name="lname"
                    placeholder="Last Name"
                    size="22"
                    autocomplete="family-name"
                  />
                </td>
              </tr>
              <tr>
                <td class="space">
                  <label for="address">Address </label>
                </td>
                <td class="space">
                  <label for="organization">Organization</label>
                </td>
              </tr>
              <tr>
                <td>
                  <input
                    type="text"
                    id="address"
                    name="address"
                    placeholder="Address"
                    size="22"
                    autocomplete="home street-address"
                  />
                </td>
                <td>
                  <input
                    type="text"
                    id="organization"
                    name="organization"
                    placeholder="Organization"
                    size="22"
                    autocomplete="organization"
                  />
                </td>
              </tr>
              <tr>
                <td class="text">Contact Details</td>
              </tr>
              <tr>
                <td class="space">
                  <label for="fname">Number</label>
                </td>
                <td class="space">
                  <label for="lname">E-mail</label>
                </td>
              </tr>
              <tr>
                <td>
                  <input
                    type="tel"
                    id="number"
                    name="phoneNumber"
                    placeholder="Phone Number"
                    size="25"
                  />
                </td>
                <td>
                  <input
                    type="email"
                    id="email"
                    name="email"
                    placeholder="Email"
                    size="30"
                  />
                </td>
              </tr>
              <tr>
                <td class="space">
                  <label for="socialHandle">Social Media</label>
                </td>
              </tr>
              <tr>
                <td>
                  <input
                    type="text"
                    id="number"
                    name="socialHandle"
                    placeholder="Social Media Handle"
                    size="20"
                    autocomplete="username"
                  />
                </td>
              </tr>

              <tr>
                <td class="text">Category</td>
              </tr>
              <tr>
                <td colspan="2">
                  <select id="category" name="category">
                    <option value="Family">Category</option>
                    <option value="Family">Family</option>
                    <option value="Friend">Friend</option>
                    <option value="Work">Work</option>
                  </select>
                </td>
              </tr>
              <tr>
                <td colspan="2">
                  <input type="submit" value="Submit" />
                </td>
              </tr>
            </table>
          </form>
        </div>
      </div>
    </div>
    <div id="myModal2" class="modal">
      <!-- Modal content -->
      <div class="modal_content">
        <div class="modal_header">
          <span class="close">×</span>
          <h1>Edit Profile</h1>
        </div>
        <div class="imgDiv">
          <div id="add_new_contact" class="imgBox">
            <!-- <div id="imgBox"> -->

            <input
              type="file"
              accept="image/*"
              name="image"
              id="profile_pic"
              style="display: none"
              onchange="loadNewFile(event)"
            />
          </div>
        </div>
        <div class="upload_picture">
          <label id="upload_picture" for="profile_pic"
            ><i class="fa-solid fa-cloud-arrow-up"></i>
            <pre></pre>
            Change Profile Picture</label
          >
        </div>
        <div>
          <form>
            <table>
              <tr>
                <td class="text">Personnel Details</td>
              </tr>
              <tr>
                <td class="space">
                  <label for="fname">First Name</label>
                </td>
                <td class="space">
                  <label for="lname">Last Name</label>
                </td>
              </tr>
              <tr>
                <td>
                  <input
                    type="text"
                    id="fullname"
                    name="fullname"
                    placeholder="Full Name"
                    size="20"
                    autocomplete="cc-given-name"
                  />
                </td>
                <td>
                  <input
                    type="text"
                    id="lname"
                    name="lname"
                    placeholder="Last Name"
                    size="22"
                    autocomplete="family-name"
                  />
                </td>
              </tr>
              <tr>
                <td class="space">
                  <label for="address">Address </label>
                </td>
                <td class="space">
                  <label for="organization">Organization</label>
                </td>
              </tr>
              <tr>
                <td>
                  <input
                    type="text"
                    id="address"
                    name="address"
                    placeholder="Address"
                    size="22"
                    autocomplete="home street-address"
                  />
                </td>
                <td>
                  <input
                    type="text"
                    id="organization"
                    name="organization"
                    placeholder="Organization"
                    size="22"
                    autocomplete="organization"
                  />
                </td>
              </tr>
              <tr>
                <td class="text">Contact Details</td>
              </tr>
              <tr>
                <td class="space">
                  <label for="fname">Number</label>
                </td>
                <td class="space">
                  <label for="lname">E-mail</label>
                </td>
              </tr>
              <tr>
                <td>
                  <input
                    type="tel"
                    id="number"
                    name="phoneNumber"
                    placeholder="Phone Number"
                    size="25"
                  />
                </td>
                <td>
                  <input
                    type="email"
                    id="email"
                    name="email"
                    placeholder="Email"
                    size="30"
                  />
                </td>
              </tr>
              <tr>
                <td class="space">
                  <label for="socialHandle">Social Media</label>
                </td>
              </tr>
              <tr>
                <td>
                  <input
                    type="text"
                    id="number"
                    name="socialHandle"
                    placeholder="Social Media Handle"
                    size="20"
                    autocomplete="username"
                  />
                </td>
              </tr>

              <tr>
                <td class="text">Category</td>
              </tr>
              <tr>
                <td colspan="2">
                  <select id="category" name="category">
                    <option value="Family">Category</option>
                    <option value="Family">Family</option>
                    <option value="Friend">Friend</option>
                    <option value="Work">Work</option>
                  </select>
                </td>
              </tr>
              <tr>
                <td colspan="2">
                  <input type="submit" value="Submit" />
                </td>
              </tr>
            </table>
          </form>
        </div>
      </div>
    </div>

    <!-- The Modal -->
    <div id="myModal3" class="modal">
      <!-- Modal content -->
      <div class="modal_content">
        <div class="modal_header">
          <span class="close">×</span>
          <h1>Manage Profile</h1>
        </div>
        <div class="imgDiv">
          <div id="add_new_contact" class="imgBox">
            <!-- <div id="imgBox"> -->

            <input
              type="file"
              accept="image/*"
              name="image"
              id="profile_pic"
              style="display: none"
              onchange="loadNewFile(event)"
            />
          </div>
        </div>
        <div class="upload_picture">
          <label id="upload_picture" for="profile_pic"
            ><i class="fa-solid fa-cloud-arrow-up"></i>
            <pre></pre>
            Change Profile Picture</label
          >
        </div>
        <div class="settings">
          <table>
            <tr>
              <td class="setting_format">
                <p>User name</p>
                <input
                  type="text"
                  name="u_name"
                  id="u_name"
                  placeholder="value from backend"
                  disabled
                />
              </td>
              <td>
                <button type="button" onclick="toggleEnable('u_name')">
                  Edit
                </button>
              </td>
            </tr>
            <tr>
              <td class="setting_format">
                <p>Password</p>
                <input
                  type="password"
                  name="u_pass"
                  id="u_pass"
                  placeholder="value from backend"
                  disabled
                />
              </td>
              <td>
                <button type="button" onclick="toggleEnable('u_pass')">
                  Edit
                </button>
              </td>
            </tr>
            <tr>
              <td class="setting_format">
                <p>Email</p>
                <input
                  type="email"
                  name="u_email"
                  id="u_email"
                  placeholder="value from backend"
                  disabled
                />
              </td>
              <td>
                <button type="button" onclick="toggleEnable('u_email')">
                  Edit
                </button>
              </td>
            </tr>
          </table>

          <!-- <div class="dark_togggle">
      <h4>Darkmode</h4>
    <input type="checkbox" class="checkbox" id="checkbox">
  <label for="checkbox" class="label">
    <i class="fas fa-moon"></i>
    <i class='fas fa-sun'></i>
    <div class='ball'>
  </label>
</div> -->
        </div>
      </div>
    </div>

    <!-- The Modal -->
    <div id="myModal4" class="modal">
      <!-- Modal content -->
      <div class="modal_content">
        <div class="modal_header">
          <span class="close">×</span>
          <h1>Manage Profile</h1>
        </div>
        <div class="imgDiv">
          <div id="add_new_contact" class="imgBox">
            <!-- <div id="imgBox"> -->

            <input
              type="file"
              accept="image/*"
              name="image"
              id="profile_pic"
              style="display: none"
              onchange="loadNewFile(event)"
            />
          </div>
        </div>
        <div class="upload_picture">
          <label id="upload_picture" for="profile_pic"
            ><i class="fa-solid fa-cloud-arrow-up"></i>
            <pre></pre>
            Change Profile Picture</label
          >
        </div>
        <div class="settings">
          <table>
            <tr>
              <td class="setting_format">
                <p>User name</p>
                <input
                  type="text"
                  name="u_name"
                  id="u_name"
                  placeholder="value from backend"
                  disabled
                />
              </td>
              <td>
                <button type="button" onclick="toggleEnable('u_name')">
                  Edit
                </button>
              </td>
            </tr>
            <tr>
              <td class="setting_format">
                <p>Password</p>
                <input
                  type="password"
                  name="u_pass"
                  id="u_pass"
                  placeholder="value from backend"
                  disabled
                />
              </td>
              <td>
                <button type="button" onclick="toggleEnable('u_pass')">
                  Edit
                </button>
              </td>
            </tr>
            <tr>
              <td class="setting_format">
                <p>Email</p>
                <input
                  type="email"
                  name="u_email"
                  id="u_email"
                  placeholder="value from backend"
                  disabled
                />
              </td>
              <td>
                <button type="button" onclick="toggleEnable('u_email')">
                  Edit
                </button>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>

    <script>
      var btn = document.querySelectorAll(".modal_btn");

      // All page modals
      var modals = document.querySelectorAll(".modal");

      // Get the <span> element that closes the modal
      var spans = document.getElementsByClassName("close");

      // When the user clicks the button, open the modal
      for (var i = 0; i < btn.length; i++) {
        btn[i].onclick = function (e) {
          e.preventDefault();
          modal = document.querySelector(e.target.getAttribute("href"));
          modal.style.display = "block";
        };
      }

      // When the user clicks on <span> (x), close the modal
      for (var i = 0; i < spans.length; i++) {
        spans[i].onclick = function () {
          for (var index in modals) {
            if (typeof modals[index].style !== "undefined")
              modals[index].style.display = "none";
          }
        };
      }
    </script>
  </body>
</html>
