<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="practice.css" />
    <script
      src="https://kit.fontawesome.com/188eb5eaaf.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <a class="purple-head hover-black" onclick="changeIcon(this)" id="myBtn">
      <div>
        <i id="faPlus" class="fa-regular fa-star font-xs"> <h1>Fav</h1> </i>
      </div>
      <span>Read more</span>
    </a>
    <script src="prcatice.js"></script>
  </body>
</html>
